@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto+Mono&display=swap');

/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Estrutura */

.structure {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c8d9bf;
    font-family: 'Mukta', sans-serif;
}

.conversor {
    width: 45vw;
    background: white;
    border-radius: 5px;
    box-shadow: 20px 20px 15px 0px rgba(44,44,44,0.4);
}

.conversor-body {
    padding: 20px;
}


/* Títulos e Rótulos */

h2 {
    background: #b6d8c0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5rem;
}

label {
    font-size: 1.4rem;
}

/* Opção de input */

.options {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: #f0f0f0
}

/* Input do usuário (número árabe ou romano) */


.input-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-div input {
    width: 60%;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
}

/* Output (número convertido)*/

#output {
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
    resize: none;
    line-height: 30px;
    background: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    min-height: 50px;
}

.output-container {
    display: flex;
    justify-content: center;
}

.output-container div {
    width: 100%;
}

/* Botões */

.button-div {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.buttons {
    padding: 10px 20px 0px 20px;
}

.button-div button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

#convert {
    font-size: 1.6rem;
    width: 135px;
    background: #a1dbb2;
    cursor: pointer;
}

#convert:hover {
    background: #85b593;
}

#clear {
    font-size: 1.2rem;
    background: #f45d4c;
    cursor: pointer;
}

#clear:hover {
    background: #b44639;
}

